<a href="https://colab.research.google.com/github/mzsmarcos/Analytics/blob/main/PySpark_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Configuração do PySpark -  instalar o PySpark no Colab

In [ ]:
# Instalar o PySpark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.3)

Executar a instalação do PySpark e configurar o ambiente Spark.

Isso é feito definindo algumas variáveis de ambiente para garantir que o Spark funcione corretamente no Colab.

In [ ]:
# Instalar Java 8
!apt-get install openjdk-8-jdk -y

# Baixar o Apache Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

# Extrair o Apache Spark
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

# Definir variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

# Instalar as bibliotecas PySpark e Findspark
!pip install -q pyspark==3.2.1 findspark

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
openjdk-8-jdk is already the newest version (8u432-ga~us1-0ubuntu2~22.04).
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.

In [ ]:
# Verificar se o arquivo foi baixado
!ls -lh

total 575M
drwx------  6 root root 4.0K Feb  5 00:30 drive
drwxr-xr-x  1 root root 4.0K Feb  3 14:20 sample_data
drwxr-xr-x 13  501 1000 4.0K Jan 20  2022 spark-3.2.1-bin-hadoop3.2
-rw-r--r--  1 root root 288M Jan 20  2022 spark-3.2.1-bin-hadoop3.2.tgz
-rw-r--r--  1 root root 288M Jan 20  2022 spark-3.2.1-bin-hadoop3.2.tgz.1

Criar a Sessão Spark

In [ ]:
# Importar as bibliotecas
import findspark
findspark.init("/content/spark-3.2.1-bin-hadoop3.2")

from pyspark.sql import SparkSession

# Criar a sessão Spark
spark = SparkSession.builder \
    .appName("PySparkExample") \
    .config("spark.executor.memory", "2g") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

# Verificar se a sessão foi criada corretamente
print("Versão do Spark:", spark.version)

Versão do Spark: 3.2.1

In [ ]:
# Importe das Bibliotecas
from pyspark.sql import SparkSession
import zipfile
import os

In [ ]:
# Montando o Google Drive no Colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Mapeando todos os arquivos descompactados

In [ ]:
# Caminho para o diretório
directory = '/content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/'

# Lista todos os arquivos no diretório
files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f))]

# Imprime o nome de cada arquivo
for file in files:
    print(file)

files.sort()

# Imprime o total de arquivos
print(f"Total de arquivos: {len(files)}")

K3241.K03200Y2.D50111.EMPRECSV
K3241.K03200Y3.D50111.EMPRECSV
K3241.K03200Y4.D50111.EMPRECSV
K3241.K03200Y5.D50111.EMPRECSV
K3241.K03200Y6.D50111.EMPRECSV
K3241.K03200Y7.D50111.EMPRECSV
K3241.K03200Y8.D50111.EMPRECSV
K3241.K03200Y9.D50111.EMPRECSV
K3241.K03200Y0.D50111.ESTABELE
K3241.K03200Y1.D50111.ESTABELE
K3241.K03200Y2.D50111.ESTABELE
K3241.K03200Y3.D50111.ESTABELE
K3241.K03200Y4.D50111.ESTABELE
K3241.K03200Y5.D50111.ESTABELE
K3241.K03200Y6.D50111.ESTABELE
K3241.K03200Y7.D50111.ESTABELE
K3241.K03200Y8.D50111.ESTABELE
K3241.K03200Y9.D50111.ESTABELE
F.K03200$Z.D50111.MOTICSV
F.K03200$Z.D50111.MUNICCSV
F.K03200$Z.D50111.NATJUCSV
F.K03200$Z.D50111.PAISCSV
F.K03200$Z.D50111.QUALSCSV
F.K03200$W.SIMPLES.CSV.D50111
K3241.K03200Y0.D50111.SOCIOCSV
K3241.K03200Y1.D50111.SOCIOCSV
K3241.K03200Y2.D50111.SOCIOCSV
K3241.K03200Y3.D50111.SOCIOCSV
K3241.K03200Y4.D50111.SOCIOCSV
K3241.K03200Y5.D50111.SOCIOCSV
K3241.K03200Y6.D50111.SOCIOCSV
K3241.K03200Y7.D50111.SOCIOCSV
K3241.K03200Y8.D50111.SOCIOCSV
K3241.K03200Y9.D50111.SOCIOCSV
F.K03200$Z.D50111.CNAECSV
K3241.K03200Y0.D50111.EMPRECSV
K3241.K03200Y1.D50111.EMPRECSV
Total de arquivos: 37

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType
import os

# Caminho para o diretório
directory = '/content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/'

# Constrói o caminho completo para o arquivo
file_path = os.path.join(directory, 'F.K03200$Z.D50111.CNAECSV')

# Lê o arquivo CSV sem definir nomes de colunas, mas garantindo que todas as colunas sejam StringType
df_cnae = (spark.read
    .option("charset", "latin1")  # Define o encoding correto
    .option("quote", "\"")  # Mantém texto entre aspas duplas
    .option("delimiter", ";")  # Define o separador correto
    .option("inferSchema", "false")  # Não inferir automaticamente os tipos de dados
    .csv(file_path)  # Ler o arquivo, assumindo que a primeira linha é o cabeçalho
)

# Exibe as primeiras linhas para conferência
df_cnae.show()

# Exibe o schema inferido (todas as colunas devem ser StringType)
df_cnae.printSchema()

+-------+--------------------+
|    _c0|                 _c1|
+-------+--------------------+
|0111301|    Cultivo de arroz|
|0111302|    Cultivo de milho|
|0111303|    Cultivo de trigo|
|0111399|Cultivo de outros...|
|0112101|Cultivo de algodã...|
|0112102|     Cultivo de juta|
|0112199|Cultivo de outras...|
|0113000|Cultivo de cana-d...|
|0114800|     Cultivo de fumo|
|0115600|     Cultivo de soja|
|0116401| Cultivo de amendoim|
|0116402| Cultivo de girassol|
|0116403|   Cultivo de mamona|
|0116499|Cultivo de outras...|
|0119901|  Cultivo de abacaxi|
|0119902|     Cultivo de alho|
|0119903|Cultivo de batata...|
|0119904|   Cultivo de cebola|
|0119905|   Cultivo de feijão|
|0119906| Cultivo de mandioca|
+-------+--------------------+
only showing top 20 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

Lendo e tratando o arquivo Cnae

In [ ]:
# Obtém o número de linhas
num_linhas = df_cnae.count()

# Obtém o número de colunas
num_colunas = len(df_cnae.columns)

print(f"Número de linhas: {num_linhas}")
print(f"Número de colunas: {num_colunas}")

Número de linhas: 1359
Número de colunas: 2

In [ ]:
# Verificação de valores nulos

from pyspark.sql.functions import col, count, when

for column_name in df_cnae.columns:
    null_count = df_cnae.filter(col(column_name).isNull()).count()
    print(f"Coluna: {column_name}, Valores Nulos: {null_count}")

Coluna: _c0, Valores Nulos: 0
Coluna: _c1, Valores Nulos: 0

In [ ]:
# Verificação de valores duplicados

df_cnae.groupBy(df_cnae.columns).count().filter(count("*") > 1).count()

0

In [ ]:
# Incluindo o cabeçalho

df_cnae = df_cnae.withColumnRenamed("_c0", "Cnae").withColumnRenamed("_c1", "Descricao")

# Exibe as primeiras linhas para conferir
df_cnae.show()

# Verifica o schema atualizado
df_cnae.printSchema()

+-------+--------------------+
|   Cnae|           Descricao|
+-------+--------------------+
|0111301|    Cultivo de arroz|
|0111302|    Cultivo de milho|
|0111303|    Cultivo de trigo|
|0111399|Cultivo de outros...|
|0112101|Cultivo de algodã...|
|0112102|     Cultivo de juta|
|0112199|Cultivo de outras...|
|0113000|Cultivo de cana-d...|
|0114800|     Cultivo de fumo|
|0115600|     Cultivo de soja|
|0116401| Cultivo de amendoim|
|0116402| Cultivo de girassol|
|0116403|   Cultivo de mamona|
|0116499|Cultivo de outras...|
|0119901|  Cultivo de abacaxi|
|0119902|     Cultivo de alho|
|0119903|Cultivo de batata...|
|0119904|   Cultivo de cebola|
|0119905|   Cultivo de feijão|
|0119906| Cultivo de mandioca|
+-------+--------------------+
only showing top 20 rows

root
 |-- Cnae: string (nullable = true)
 |-- Descricao: string (nullable = true)

Lendo e tratando os arquivos de Empresas

In [ ]:
# Lendo todos os equivos de empresas
from pyspark.sql.types import StringType
import os

# Caminho para o diretório
directory = '/content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/'

# Lista com os nomes dos arquivos de empresas
empresas_files = [
    "K3241.K03200Y2.D50111.EMPRECSV",
    "K3241.K03200Y3.D50111.EMPRECSV",
    "K3241.K03200Y4.D50111.EMPRECSV",
    "K3241.K03200Y5.D50111.EMPRECSV",
    "K3241.K03200Y6.D50111.EMPRECSV",
    "K3241.K03200Y7.D50111.EMPRECSV",
    "K3241.K03200Y8.D50111.EMPRECSV",
    "K3241.K03200Y9.D50111.EMPRECSV",
    "K3241.K03200Y0.D50111.EMPRECSV",
    "K3241.K03200Y1.D50111.EMPRECSV"
]

# Criando a lista de caminhos completos para cada arquivo
file_paths = [os.path.join(directory, f) for f in empresas_files]

# Lendo todos os arquivos de empresas ao mesmo tempo
df_empresas = (spark.read
    .option("charset", "latin1")  # Define o encoding correto
    .option("quote", "\"")  # Mantém texto entre aspas duplas
    .option("delimiter", ";")  # Define o separador correto
    .option("inferSchema", "false")  # Não inferir automaticamente os tipos de dados
    .csv(file_paths)  # Lê todos os arquivos de uma vez
)

# Exibe as primeiras linhas para conferência
df_empresas.show()

# Exibe o schema inferido (todas as colunas devem ser StringType)
df_empresas.printSchema()

+--------+--------------------+----+---+---------+---+----+
|     _c0|                 _c1| _c2|_c3|      _c4|_c5| _c6|
+--------+--------------------+----+---+---------+---+----+
|04631961|ITACAMP INDUSTRIA...|2062| 49|     0,00| 01|null|
|04631962|CLINICA OFTALMOLO...|2062| 49|     0,00| 05|null|
|04631963| EXPRESSO COSTA LTDA|2062| 49|     0,00| 01|null|
|04631964|PAULO BRAGA PROJE...|2232| 49| 20000,00| 01|null|
|04631965|COTERMAQ CONSERTO...|2062| 49|     0,00| 03|null|
|04631967|ACACIA MEDICINA D...|2240| 49|500000,00| 03|null|
|04631968|CONDOMINIO DO EDI...|3085| 19|     0,00| 05|null|
|04631969|      J LEILOES LTDA|2062| 49|     0,00| 05|null|
|04631970|J. NOGUEIRA DE QU...|2135| 50|     0,00| 01|null|
|04631971|  2001 HANDLING LTDA|2240| 49|     0,00| 01|null|
|04631972|GONCALVES E VIANA...|2062| 49|     0,00| 01|null|
|04631973|ARCA DO LOUVOR MU...|2062| 49|     0,00| 01|null|
|04631975| NELSON DURVAL RISSE|2135| 50|     0,00| 05|null|
|04631976|FUNILARIA NOETZOL...|2062| 49|     0,00| 01|null|
|04631977|CEP PREVENCAO ODO...|2240| 49| 90000,00| 01|null|
|04631978|ESPACO SERVICOS C...|2240| 49|100000,00| 03|null|
|04631979|DIVINO ETERNO FER...|2135| 50|     0,00| 01|null|
|04631980|MARIA DAS DORES S...|2135| 50|     0,00| 05|null|
|04631981|E & M COMERCIO E ...|2062| 49|     0,00| 01|null|
|04631983|FERNANDO RODRIGUE...|2135| 50|     0,00| 05|null|
+--------+--------------------+----+---+---------+---+----+
only showing top 20 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [ ]:
# Contagem das linhas

df_empresas.take(1)  # Força a execução antes do count
num_linhas = df_empresas.count()
print("Linhas :", {num_linhas})

Linhas : {56465072}

In [ ]:
# Lê a quantidade de linhas por arquivo
from pyspark.sql.functions import input_file_name

df_empresas.withColumn("arquivo", input_file_name()).groupBy("arquivo").count().show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------+--------+
|arquivo                                                                                                          |count   |
+-----------------------------------------------------------------------------------------------------------------+--------+
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y2.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y3.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y4.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y5.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y6.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y7.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y8.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y9.D50111.EMPRECSV|4494860 |
|file:///content/drive/MyDrive/Projeto_ETL_Trust_Works/Dados_abertos/descompactados/K3241.K03200Y0.D50111.EMPRECSV|20506192|
+-----------------------------------------------------------------------------------------------------------------+--------+